
*.png
code/categories.dmp
data/eukaryotes.txt
data/nodes.dmp
data/nuclear_genomes.txt
data/organelles.csv
data/taxcat.zip
data/rmsk/mm_rmsk
data/aligned.afa
data/mm_mt_annotation.bed
*.dmp
data/ncbi_numts.csv
results/tsne_input.csv
data/label_for_tsne.csv
data/ncbi_numts_modk2_added.csv
data/ncbi_numts_tsne.csv
results/modk2_added_numts.csv
data/mice_numts.csv
*.aux
*.bbl
*.docx
*.blg
*.log
*.pdf
*.gz
*.tex
*.aux
*.aux
*.log
code/ncbi/tSNE_feature_search.py
